body {
    background: #050777
}

section {
    background-color: #afdd42;
}


.main-heading {
    color: rgb(0, 0, 0);
}

.blue-header{
    color:rgb(6, 6, 194)
}

p {
    color: #45c99d
}

#top {
    background: #4F6D7A;
}

a {
    color:orange
}


nav a {
    color: #e71717
}