body {
  background: #050777;
}

section {
  background-color: #afdd42;
}

.main-heading {
  color: rgb(0, 0, 0);
}

.blue-header {
  color: rgb(6, 6, 194);
}

p {
  color: #232927;
}

#top {
  background: #4f6d7a;
}

a {
  color: orange;
}

.navigation {
  background: #4f6d7a;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: rgb(90, 80, 80);
  color: rgb(255, 255, 255);
}

.experience {
    color: black;
    padding: 15px;
    background: #817473;
}

.experience__work {
    border-style:groove;
    margin-bottom: 10px;
}